In [31]:
import numpy as np
import pandas as pd
import nltk

In [32]:
df = pd.read_csv('spam.csv', encoding='latin-1')

In [33]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
1539,ham,You're not sure that I'm not trying to make xa...,NaN,NaN,NaN
4783,ham,Indeed and by the way it was either or - not b...,NaN,NaN,NaN
3318,ham,Kay... Since we are out already,NaN,NaN,NaN
5432,ham,Thanx a lot 4 ur help!,NaN,NaN,NaN
5346,ham,"My Parents, My Kidz, My Friends n My Colleague...",NaN,NaN,NaN

In [34]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [35]:
df.sample(5)

        v1                                                 v2
2129   ham         Mine here like all fr china then so noisy.
793    ham  Omg I want to scream. I weighed myself and I l...
4581   ham  Wow didn't think it was that common. I take it...
1010   ham  Lol I would but my mom would have a fit and te...
3723  spam  Hi there, 2nights ur lucky night! Uve been inv...

In [36]:
df.rename(columns={'v1':'answer','v2':'text'},inplace=True)
df.sample(5)

     answer                                               text
1859    ham          What's up. Do you want me to come online?
3280    ham  I tot it's my group mate... Lucky i havent rep...
3068    ham                 Ay wana meet on sat?Ì_ wkg on sat?
2665    ham                     R u meeting da ge at nite tmr?
2715    ham  Cool. I am  &lt;#&gt;  inches long. hope you l...

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
encoder = LabelEncoder()

In [39]:
df['answer']=encoder.fit_transform(df['answer'])

In [40]:
df = df.drop_duplicates(keep='first')

In [50]:
def preprocessing(text):
    text=text.lower()
    #separate words
    text=nltk.word_tokenize(text)
    #remove special characters
    new = []
    for i in text:
        if i.isalnum():
            new.append(i)
    new = ' '.join(new)
    return new

In [51]:
df['processedtext']=df['text'].apply(preprocessing)

In [52]:
df.head()

,answer,text,processedtext
0,0,"Go until jurong point, crazy.. Available only ...",go until jurong point crazy available only in ...
1,0,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,0,U dun say so early hor... U c already then say...,u dun say so early hor u c already then say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah i do think he goes to usf he lives around ...

In [107]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

cv = CountVectorizer()
tfidf = TfidfVectorizer(max_features=3000)

In [108]:
X = tfidf.fit_transform(df['processedtext']).toarray()

In [109]:
X.shape

(5169, 3000)

In [110]:
y= df['answer'].values

In [111]:
y

array([0, 0, 1, ..., 0, 0, 0])

In [112]:
from sklearn.model_selection import train_test_split

In [113]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2 , random_state=2)

In [114]:
from sklearn.naive_bayes import BernoulliNB, MultinomialNB, GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score

In [115]:
bnb = BernoulliNB()
mnb = MultinomialNB()
gnb = GaussianNB()

In [116]:
mnb.fit(X_train,y_train)
y_pred = mnb.predict(X_test)
print (accuracy_score (y_test,y_pred))
print (confusion_matrix (y_test,y_pred))
print (precision_score(y_test,y_pred))

0.9661508704061895
[[896   0]
 [ 35 103]]
1.0

In [117]:
import pickle
pickle.dump(tfidf,open('vectorizer.pkl','wb'))

In [121]:
pickle.dump(mnb, open ('model. pkl', 'wb'))